.App {
  background-color: #1c1c1c;
  display: flex;
  height: 100vh;
  width: 100vw;

  color: white;
  font-family: "Source Code Pro", sans-serif;
  text-align: center;
}

h1 {
  font-size: 48px;
  line-height: 36px;
}
